<% include header %>
  <body role="document">
    <% include navBar %>
    <div id="mainContainer" class="container-fluid" style="margin-top: 120px">
      <div id="leftBar" class='hitMeLeftBar'> 
        <div class="panel-heading"></div>
      </div>
      <div id="middleBar" class='hitMeMiddleBar'>
        <div id="dood" style="opacity: 1;height: 231px;">
      <img height="220" id="hplogo" width="730" src="images/GW_logo.png">
    </div>
    <input type="text" name="username" class="form-control" placeholder="Search in GoodWill" required="" autofocus="">
      </div>  
      <div id="rightBar" class='hitMeRightBar'>
        <div class="panel-heading"></div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery/dist/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script> document.getElementById('hitMeListItem').className = "active"; </script>
  </body>
</html>