<!DOCTYPE html>
<html>
	<head>
		<title> My Test for login Page </title>
	</head>
	<body>
		<form action='' method='post'>
			User name: <input type='text' name='username' placeholder='Username'></br>
			Password: <input type='text' name='password' placeholder='pswd'><br/>
			<input type='submit' value='Login'> 
		</form>
	</body>
</html>